@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body, html, p {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    color: white;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

textarea {
    width: 350px;
}

input {
    margin-left: 10px;
    font-family: 'Noto Sans', sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

li {
    border: 1px solid gray;
    padding: 20px;
}

li p {
    font-family: 'Caveat';
    font-size: 3em;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
}

button:active {
    background-color: yellow;
    color: black;
    border: 1px solid black;
}
